body {
  font-family: "Segoe UI";
  margin-left: 2rem;
  margin-right: 2rem;
  user-select: none;
}

.center {
  text-align: center;
}
.right {
  text-align: right;
}
.small {
  font-size: 0.8rem;
}
.medium {
  font-size: 1.2rem;
}
.big {
  font-size: 1.5rem;
}
.huge {
  font-size: 2rem;
}
.spaced {
  letter-spacing: 0.2rem;
}
.mini-spaced {
  letter-spacing: 0.05rem;
}
.it {
  font-style: italic;
}
.under {
  text-decoration: underline;
}
.p-1 {
  padding: 1rem;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
@media only screen and (min-width: 800px) {
  .dm-800 {
    width: 800px;
    margin-left: calc(50% - 400px);
    margin-right: calc(50% - 400px);
  }
}
.gray {
  color: gray;
}
.red {
  color: red;
}
.simple-ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.auto-cap {
  text-transform: uppercase;
}
.pointer {
  cursor: pointer;
}
@media only screen and (min-width: 600px) {
  .flexed {
    display: flex;
  }
  .flex-80 {
    flex: 80%;
  }
  .flex-20 {
    flex: 20%;
  }
}

.letter-input {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
  font-size: 1rem;
  border: 1px solid lightgray;
  border-radius: 0;
  outline: none;
}
.guess-input {
  display: inline-block;
  width: calc(100% - 8.63rem);
  height: 2.5rem;
  font-size: 1rem;
  border: 1px solid lightgray;
  border-radius: 0;
  outline: none;
}
.guess-button {
  display: inline-block;
  width: 7rem;
  height: 2.5rem;
  margin-left: 0.5rem;
  font-size: 1rem;
  color: white;
  background-color: rgb(112,206,110);
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 0;
}
.guess-button:hover:not(:disabled) {
  background-color: rgb(80,174,78);
}

.play-again-button {
  display: inline-block;
  width: auto;
  height: 2rem;
  margin-left: 0.5rem;
  font-size: 0.7rem;
  font-weight: bold;
  color: white;
  background-color: rgb(103, 174, 218);
  border: 1px solid transparent;
  border-radius: 1em;
}
.play-again-button:hover {
  background-color: rgb(71, 142, 186);
}
.play-button {
  display: inline-block;
  width: auto;
  height: 3.5rem;
  margin-left: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: rgb(103, 174, 218);
  border: 1px solid transparent;
  border-radius: 1em;
}
.play-button:hover {
  background-color: rgb(71, 142, 186);
}

.fa {
  width: 2rem;
  height: 2rem;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 50%;
  color: white;
}
.fa-gear {
  font-size: 1.5rem !important;
  background-color: white;
  color: gray;
}
.fa-play {
  font-size: 1.5rem !important;
  background-color: rgb(112,206,110) !important;
  background-color: white;
}
.fa-twitter {
  background: #55ACEE;
}
.fa-twitter:hover {
  background: #358CCE;
}
.fa-facebook {
  background: #3B5998;
}
.fa-facebook:hover {
  background: #1B3978;
}
.fa-whatsapp {
  background: #25D366;
}
.fa-whatsapp:hover {
  background: #05B346;
}
.fa-clipboard {
  background: #E74932;
}
.fa-clipboard:hover {
  background: #C72912;
}